<template>
  <img src="../assets/logo.png" alt="image">

  <h1>{{ msg }}</h1>
  <small>{{getFullName("Irvin", "Lopez")}}</small>
  <p>{{name.name ? `${name.name} ${name.lastname} de ${name.age} años de edad` : 'Loading...'}}</p>
  <p>{{otherName.name}} {{otherName.lastname}} de {{otherName.age}} años de edad</p>

  <p>
    Recommended IDE setup:
    <a href="https://code.visualstudio.com/" target="_blank">VSCode</a>
    +
    <a href="https://github.com/johnsoncodehk/volar" target="_blank">Volar</a>
  </p>

  <p>See <code>README.md</code> for more information.</p>

  <p>
    <a href="https://vitejs.dev/guide/features.html" target="_blank">
      Vite Docs
    </a>
    |
    <a href="https://v3.vuejs.org/" target="_blank">Vue 3 Docs</a>
  </p>

  <button type="button" @click="count++">count is: {{ count }}</button>
  <p>
    Edit
    <code>components/HelloWorld.vue</code> to test hot module replacement.
  </p>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { EventPerson } from "../types";

export default defineComponent({
  name: "HelloWorld",
  props: {
    msg: {
      type: String,
      default: "Hello Vue 3 + TypeScript + Vite"
    },
    otherName: {
      type: Object as PropType<EventPerson>,
      default: () => ({
        name: "John",
        lastname: "Doe",
        age: 30
      })
    }
  },
  data() {
    return {
      count: 0,
      name: {} as EventPerson
    };
  },
  methods: {
    typeScriptValues() {
      let year: number = 2020;
      let name: string = "John";
      let isTrue: boolean = true;
      let list: number[] = [1, 2, 3];
      let listString: string[] = ["a", "b", "c"];

      let tuple: [number, string] = [1, "a"];

      interface Person {
        name: string;
        age: number;
      }

      let obj: Person = {
        name: "John",
        age: 30
      };

      type buttonType = 'primary' | 'secondary' | 'success' | 'danger' | 'warning' | 'info' | 'light' | 'dark';

      let button: buttonType = 'primary';
    
      return "ok";
    }, 
    getFullName(name: string, lastname: string): string {
      return `${name} ${lastname}`;
    },
    returnTheName(name: EventPerson): EventPerson {
      return name;
    }
  },
  computed:{
    getFullName(): string {
      return `${this.name.name} ${this.name.lastname}`;
    }
  },
  created() {
    setTimeout(() => {
      this.name = {
        name: "John",
        lastname: "Doe",
        age: 30
      };
    }, 3000);
  }
})
</script>

<style scoped>
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
</style>
